<% provide(:title, 'About') %>

<h1>About the Quotes</h1>
<p>Inspired by humourous scenarios around me at work, I've taken to keeping a log of funny things that have been said, from great moments of wit to oblivious innuendos taken out of context.</p>

<h1>About the Application</h1>
<p>The site was built as the first attempt at a functioning application using Ruby on Rails, inspired by the excellent <a href="http://ruby.railstutorial.org">Ruby on Rails Tutorial</a> by <a href="http://www.michaelhartl.com">Michael Hartl</a> which I highly recommend.

<h1>About the Author</h1>
<p>Andrew is a Business Analyst by day and started toying with Ruby on Rails by night, with the twin aims of  understanding and undermining just what it is that developers do during the day with his documents.
