<% provide(:title, 'Feedback') %>

<h1>Feedback</h1>
<p>While I'm entirely confident that this site could not possible be equalled in any measure, let alone bettered, I'm still humble enough to grant an opportunity for you to provide feedback, commentary or simply words of praise.</p>